server:
  port: 8000
spring:
  datasource:
    driver-class-name: ${POSTGRES_DRIVER}
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/postgres
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  sql:
    init:
      mode: always
